---js
{
  title: "Blog",
  wide: true,
  pagination: {
    data: "collections.posts",
    size: 6,
    reverse: true,
    before: function(paginationData, fullData) {
      return this.filterCollectionLang(paginationData, fullData.lang);
    }
  },
  layout: "layouts/page.njk",
  permalink: "/{{ lang }}/blog/{% if pagination.pageNumber %}{{ pagePrefix }}{{ pagination.pageNumber + 1 }}/{% endif %}",
  eleventyNavigation: {
    key: "Blog",
    order: 2
  }
}
---
<details class="tagfilter">
  <summary>{{ "filter_by_tag" | i18n }}</summary>
  {% set tags = collections.posts | filterCollectionLang | getAllTags %}
  {% include "components/taggroup.njk" %}
</details>

{% if not pagination.pageNumber %}
  {% set featuredPost = pagination.items | first %}
  {% include "featured-post.njk" %}
  {% set postslist = pagination.items | after(1) %}
{% else %}
  {% set postslist = pagination.items %}
{% endif %}
{% include "postslist.njk" %}
{% include "templates/pagination.njk" %}
