{% from "components/icon.njk" import icon %}
{% set currentPageNumber = pagination.pageNumber + 1 %}
<nav role="navigation" aria-label="Pagination" data-pagefind-ignore>
  <ul class="pagination">
    <li>
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}" title="{{ "previous_page" | i18n }}">
          {{ icon("arrow-left", 16) }}<span class="visually-hidden">{{ "previous_page" | i18n }}</span>
        </a>
      {% else %}
        <span aria-disabled="true">{{ icon("arrow-left", 16) }}</span>
      {% endif %}
    </li>
    {% for href in pagination.hrefs %}
      <li>
        {% if loop.index == currentPageNumber %}
          <span aria-current="page">{{ loop.index }}</span>
        {% else %}
          <a href="{{ href }}" title="Page {{ loop.index }}">{{ loop.index }}</a>
        {% endif %}
      </li>
    {% endfor %}
    <li>
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}" title="{{ "next_page" | i18n }}">
          {{ icon("arrow-right", 16) }}<span class="visually-hidden">{{ "next_page" | i18n }}</span>
        </a>
      {% else %}
        <span aria-disabled="true">{{ icon("arrow-right", 16) }}</span>
      {% endif %}
    </li>
  </ul>
</nav>
