<ul class="grid" data-pagefind-ignore>
  {% asyncAll post in postslist %}
  <li>
    {% from "components/component.njk" import component with context %}
    {{ component("card", {
      url: post.url,
      title: post.data.title,
      description: post.data.description | safe,
      tags: post.data.tags,
      date: post.date,
      badges: post.data.badges,
      image: {
        path: post.data.image.path | resolvePath(post),
        alt: post.data.image.alt
      }
    }) }}
  </li>
  {% endall %}
</ul>
