{% from "components/component.njk" import component with context %}
{% set previousPost = currentPosts | filterCollectionLang | getPreviousCollectionItem %}
{% set nextPost = currentPosts | filterCollectionLang | getNextCollectionItem %}
{% if nextPost or previousPost %}
  <section class="post-footer" data-pagefind-ignore>
    <h2>{{ "read_also" | i18n }}</h2>
    <ul class="grid">
      {% if previousPost %}
        <li>
          {{ component("card", {
            url: previousPost.url,
            title: previousPost.data.title,
            date: previousPost.date,
            addClass: "card--sm"
          }) }}
        </li>
      {% endif %}
      {% if nextPost %}
        <li>
          {{ component("card", {
            url: nextPost.url,
            title: nextPost.data.title,
            date: nextPost.date,
            addClass: "card--sm"
          }) }}
        </li>
      {% endif %}
    </ul>
  </section>
{% endif %}
