{% if not alert %}{% set alert = params %}{% endif %}
<div class="alert alert--{{ alert.type or "info" }}">
  {% if alert.title %}
    <h3 class="alert__title">{{ alert.title | safe }}</h3>
  {% endif %}
  {% if alert.description %}{{ alert.description | safe }}{% endif %}
</div>
