{% if eleventyNavigation %}
  {% set segments = collections.all | filterCollectionLang | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
{% elif not segments %}
  {% set segments = params.segments %}
{% endif %}
<nav role="navigation" class="breadcrumb" aria-label="{{ "you_are_here" | i18n }}:" data-pagefind-ignore>
  <ol>
    <li><a href="{{ "/" | locale_url }}">{{ "home" | i18n }}</a></li>
    {% for segment in segments %}
      <li><a href="{{ segment.url | locale_url }}">{{ segment.title }}</a></li>
    {% endfor %}
    <li><span aria-current="page">{{ title }}</span></li>
  </ol>
</nav>
