{% if not callout %}{% set callout = params %}{% endif %}
<div class="callout">
  <h3 class="callout__title">{{ callout.title }}</h3>
  <p>{{ callout.description }}</p>
  {% if callout.link %}
    <a class="button" href="{{ callout.link.url }}">{{ callout.link.title }}</a>
  {% endif %}
</div>
