{% if not quote %}{% set quote = params %}{% endif %}
<figure class="quote">
  <blockquote{% if quote.sourceUrl %} cite="{{ quote.sourceUrl }}"{% endif %}>
    <p>«&nbsp;{{ quote.text }}&nbsp;»</p>
  </blockquote>
  <figcaption>
    {% if quote.imageSrc %}
      <div class="quote__image"><img src="{{ quote.imageSrc }}" alt=""></div>
    {% endif %}
    <p class="quote__author">{{ quote.author }}</p>
    {% if quote.source %}<cite>{{ quote.source }}</cite>{% endif %}
  </figcaption>
</figure>
