---
layout: layouts/base.njk
---
<div class="container container--narrow">
  {% if showBreadcrumb %}
    {% include "components/breadcrumb.njk" %}
  {% endif %}

  <article class="section" data-pagefind-body>
    <header class="post-header">
      {% include "components/taggroup.njk" %}
      <h1>{{ title }}</h1>
      <p class="post-header__meta">
        {{ "published_on" | i18n }}
        <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
      </p>
      {% include "templates/share.njk" %}
    </header>

    {% if image %}
      {% imageContent image.path, image.alt %}
    {% endif %}

    <div class="prose">
      {{ content | safe }}
    </div>
  </article>

  {% if collections.posts %}
    {% set currentPosts = collections.posts %}
    {% include "previousnextlinks.njk" %}
  {% endif %}

  <p class="section--tight">{% include "components/back_to_top.njk" %}</p>
</div>
